body {
    color: lightgrey;
    /* background is set in index.html to avoid issues with loader */
}

.main-div {
    margin: 0 auto 10px;
    max-width: 500px;
    background: #242424;
    padding: 20px;
    border-radius: 15px;
    /* main-divs are hidden by default to avoid issues with loader */
    display:block !important;
}

#on-off {
    float: right;
    margin-bottom: 16px;
}



.slider {
    width: 100%;
    padding: 10px 0;
}

.slider input {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #464646;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider input:hover {
    opacity: 1;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.slider input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

#red::-webkit-slider-thumb {
    background: #e84d4d
}

#green::-webkit-slider-thumb {
    background: #5bd460
}

#blue::-webkit-slider-thumb {
    background: #45b0ee
}

#cold::-webkit-slider-thumb {
    background: #ffffff
}

#warm::-webkit-slider-thumb {
    background: #ffee52
}



button {
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 2px;
    height: 44px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px;
    outline: none;
}

.green {
    background-color: #4CAF50;
}

.green:hover {
    background-color: #53c057;
}

.green:active {
    background-color: #46a049;
}

.red {
    background-color: #af4c4c;
}

.red:hover {
    background-color: #c05555;
}

.red:active {
    background-color: #9e4545;
}



.console {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #3a3a3a;
    background: #181818;
    color: lightgrey;
    outline: none;
    font: 400 13.3333px Arial;
}

#output {
    overflow: auto;
    height: 300px;
}

#output * {
    margin-bottom: 3px;
    min-height: 8px;
}

#output::-webkit-scrollbar {
    width: 1em;
}
 
#output::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #181818;
}
 
#output::-webkit-scrollbar-thumb {
    background-color: #242424;
    outline: 1px solid #181818;
}

#buttons-container {
    position: relative;
    width: 100%;
    height: 44px;
}

#console-buttons {
    position: absolute;
    right: 0px;
    display: block;
}

#console-buttons label {
    margin-right: 20px;
    cursor: pointer;
}

label {
    font: 400 13.3333px Arial;
}

label input { 
    position: relative;
    top: 2px;
    margin: 0;
    cursor: pointer;
}

#clear {
    width: 16px;
    height: 16px;
    background-image: url("img/clear.png");
    position: absolute;
    top: 14px;
    left: 14px;
    cursor: pointer;
}



.command {
    color: #64c6ff;
}

.response {
    color: #78ff67;
}

.resp-esp {
    color: #64c6ff;
}

.resp-ard {
    color: #e8ff67;
}

.resp-deb {
    color: #ffac57;
}

.resp-fail {
    color: #ff635b;
}