body {
    color: lightgrey;
    /* background is set in index.html to avoid issues with loader */
}

.main-div {
    margin: 0 auto 10px;
    max-width: 500px;
    background: #242424;
    padding: 15px;
    border-radius: 13px;
    /* main-divs are hidden by default to avoid issues with loader */
    display:block !important;
}

#upper-div {
    position: relative;
}

#on-off {
    float: right;
    margin-bottom: 17px;
}



.slider {
    width: 100%;
    padding: 11px 0;
}

.slider input {
    -webkit-appearance: none;
    width: 100%;
    height: 13px;
    border-radius: 5px;
    background: #464646;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
}

.slider input:hover {
    opacity: 1;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.slider input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

#red::-webkit-slider-thumb {
    background: #e84d4d
}

#green::-webkit-slider-thumb {
    background: #5bd460
}

#blue::-webkit-slider-thumb {
    background: #45b0ee
}

#cold::-webkit-slider-thumb {
    background: #ffffff
}

#warm::-webkit-slider-thumb {
    background: #ffee52
}

#bright::-webkit-slider-thumb {
    background: #777777
}



button {
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 2px;
    height: 44px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px;
    outline: none;
}

.green {
    background-color: #4CAF50;
}

.green:hover {
    background-color: #53c057;
}

.green:active {
    background-color: #46a049;
}

.red {
    background-color: #af4c4c;
}

.red:hover {
    background-color: #c05555;
}

.red:active {
    background-color: #9e4545;
}



#console-window {
    width: 100%;
    height: 385px;
    display: flex;
    flex-flow: column;
    position: relative;
    font: 400 13.3333px Arial;
}

.console {
    padding: 12px 16px;
    border: 0;
    background: #181818;
    color: lightgrey;
    outline: none;
}

#output {
    overflow: auto;
    flex: 1;
}

#output * {
    margin-bottom: 3px;
    min-height: 8px;
    width: fit-content;
}

#output::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#output::-webkit-scrollbar-corner {
    background: #181818;
}
 
#output::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #181818;
}
 
#output::-webkit-scrollbar-thumb {
    background-color: #313131;
    outline: 1px solid #181818;
}

#command-box {
    padding-right: 40px;
    background: #151515;
}

#console-divider {
    height: 1px;
    background: linear-gradient(0.25turn, #181818, #404040, #181818);
}

.img-btn {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
}

#exclamation {
    display: none;
    background-image: url("img/exclamation_small.png");
    opacity: 1.0;
    top: 20px;
    left: 22px;
}

#clear {
    background-image: url("img/clear.png");
    opacity: 0.6;
    top: 4px;
    right: 72px;
}

#full {
    background-image: url("img/full.png");
    top: 4px;
    right: 4px;
}

#send {
    width: 39px;
    height: 39px;
    background-image: url("img/send.png");
    background-size: 16px 16px;
    bottom: 0;
    right: 0;
    opacity: 1.0;
}

#drop-down {
    background-image: url("img/cmd.png");
    top: 4px;
    right: 38px;
}

#drop-list {
    background: #151515;
    border: solid 1px #333333;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 32px;
    right: 0px;
}

#drop-list div {
    min-width: max-content;
    padding: 12px 16px;
    border-radius: 5px;
}

#drop-list div:hover {
    background: #1c1c1c;
}

#drop-down:hover #drop-list {
    display: block;
  }

#full.expanded {
    background-image: url("img/minimize.png");
}

.command, .resp-esp {
    color: #9cdcfe;
    cursor: pointer;
}

.response {
    color: #80de6f;
}

.resp-ard, .resp-i {
    color: #f9f9a8;
}

.resp-deb, .resp-d {
    color: #f1ad7d;
}

.resp-fail, .resp-e {
    color: #f37a7a;
}